{
  'parser': 'babel-eslint',

  'plugins': [
    'react',
  ],

  'extends': [
    'eslint:recommended',
    'plugin:react/recommended',
  ],

  'rules': {
    'no-unused-vars': ['error', {
      'vars': 'all',
      'args': 'none',
      'ignoreRestSiblings': true,
    }],

    'comma-dangle': ['error', 'always-multiline'],

    'react/prop-types': 0,
    'react/no-deprecated': 0,
  },
}

/* vim: set ft=javascript : */
